.card {
  background-color: #fff;
  padding: 20px 30px;
  min-width: 500px;
  min-height: 150px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  filter: drop-shadow(5px 5px 5px #00000027);
}

.inputrow {
  display: flex;
  align-items: center;
}
.searchinput {
  outline: 1px solid #000;
  border-radius: 3px;
  padding: 5px 10px;
  margin-right: 10px;
  flex-grow: 1;
}

.searchicon {
  margin-right: 5px;
  width: 20px;
  height: 20px;
}

.findbutton {
  background-color: #000;
  border-radius: 5px;
  padding: 6px 30px;
  color: #fff;
  transition: .2s;
  filter: drop-shadow(1px 1px 1px #00000090);
}

.findbutton:hover {
  background-color: #202020;
  transition: .2s;
  filter: none;
}


.sort {
  margin-right: 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 6px 10px;
  background-size: 10px;
  background-color: #fff;
  transition: border-color .1s ease-in-out,box-shadow .1s ease-in-out;
  border: 1px solid #000;
  border-radius: 3px;
  font-family: '__Noto_Sans_317898', '__Noto_Sans_Fallback_317898';
  font-weight: 500;

}
.sort:hover {
  border: 1px solid #999;
}
.sort:focus {
  border: 1px solid #999;
  box-shadow: 0 3px 5px 0 rgba(0,0,0,.2);
  outline: none;
}

.filterrow {
  margin-top: 40px;
  display: flex;
  align-items: center;
}

.page {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 6px 10px;
  background-size: 10px;
  background-color: #fff;
  transition: border-color .1s ease-in-out,box-shadow .1s ease-in-out;
  border: 1px solid #000;
  border-radius: 3px;
  font-family: '__Noto_Sans_317898', '__Noto_Sans_Fallback_317898';
  font-weight: 500;

}
.page:hover {
  border: 1px solid #999;
}
.page:focus {
  border: 1px solid #999;
  box-shadow: 0 3px 5px 0 rgba(0,0,0,.2);
  outline: none;
}



@media only screen and (max-width: 582px) {
  .card {
    min-width: 100%;
    align-items: center;
    
  }
  .searchinput {
    width: 100px;
    flex-grow: 0;
  }
}

