p {
  font-size: 16px;
  text-align: justify;
  margin: 1.5em 0;
  text-shadow: 1px 1px 1px rgba(30, 41, 59, 0.073);
  color: rgb(30 41 59);
  line-height: normal;
  letter-spacing: .6px;
}

cite {
  font-size: 16px;
  margin: 1.5em 0;
  text-shadow: 1px 1px 1px rgba(30, 41, 59, 0.073);
  color: rgb(30 41 59);
  line-height: normal;
  letter-spacing: .6px;
}